
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@400;500;600;700&display=swap');

.pag1
{
    background-color: #043873;
    background-image: url("/imagens/fundo.png");
    height: 1000px;
}

#logo
{   
    position: absolute;
    width: 37px;
    height: 29px; 
    margin-left: 14%;
    margin-bottom: 10%;
    bottom: 69%;
    left: -5%;
}



#titulogu
{   
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;

    color: #FFFF;
    margin-left: 18%;
    bottom: -33px;
    left: -5%;
    
}

a
{   

    position: relative;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;

    color: #FFFF;
    margin-right: 32px;
    text-decoration: none;
    bottom: 15px;
    left: 30%;
}

nav
{
    display: inline;
    text-align: justify;
    margin-left: 100px;
}


#login
{   
    position: relative;
    font-family: 'Inter';
    color: #043873;
    background: #FFE492;
    border-radius: 8px;

    width: 126px;
    height: 60px;
    padding: 16px 40px;

    bottom: 15px;
    left: 30%;
}

#whitespacefree
{   
    position: relative;
    width: 159px;
    height: 23px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;

    letter-spacing: -0.02em;

    color: #FFFFFF;

    padding: 16px 24px;
    gap: 10px;

    width: 227px;
    height: 60px;

    background: #4F9CF9;
    border-radius: 8px;

    left: 30%;
    bottom: 15px;

}

#texto1
{   
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: -0.02em;

    color: #FFFFFF;
    left: 8%;
    top: 230px;
}


#paragrafo1
{       
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    
    letter-spacing: -0.02em;
    
    color: #FFFFFF;

    left: 1%;
    bottom: -80px;
}


#botao1
{   
    width: 250px;
    height: 63px;

    background: #4F9CF9;
    border-radius: 8px;

    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    position: relative;
    top: 380px;
    left: -62.2%;

}

#seta
{
    position: relative;
    top: 0%;
    left: 5%;
}


.pagina2
{   
    position: absolute;
    height: 700px;

    top: 700px;
    background: #FFFFFF;
    padding-bottom: 100px;
    padding-left: 1349px;

}

#texto2
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    letter-spacing: -0.02em;
    
    color: #212529;
    position: absolute;
    top: 900px;
    left: 650px;
    bottom: 300px;
    
}

#paragrafo2
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;


    letter-spacing: -0.02em;

    color: #212529;
    position: absolute;
    top: 1040px;
    left: 660px;
}

#imagem1
{
    position: absolute;
    left: 100px;
    top: 200px;
}

#botao2
{
    align-items: center;
    padding: 20px 40px;
    gap: 10px;

    width: 186px;
    height: 63px;

    background: #4F9CF9;
    border-radius: 6px;

    color: #FFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    border: none;

    position: absolute;
    top: 1150px;
    left: 655px;


}


*{
    margin: 0;
    padding: 0;
    font-family: inter;
    box-sizing: border-box;

}

footer
{
    width: 100%;
    min-height: 50px;
    background: #043873;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    display: inline;
}


.footer
{
    width: 103%;
    height: 100px;
    display: flex;
    background: #043873;
    padding: 40px 20px;
    position: relative;
    top: 360px;
    padding-right: 100%;
    

}

.footer .sociais_gu
{
    display: flex;
    
}

.sociais_gu .social_gu
{
    width:90px;
    height:40px;
    line-height: -100px;
    margin: 10px;
    border-radius:5px;
    position: relative;
    left: 13%;
    top: 200px;

    
}

.organizacao{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 500px;
    position: relative;
    top: 350px;
}
.textoorganizacao{
    display: flex;
    justify-content: flex-start;

}
.textofooter{
    padding: 0px 0px 0px 20px;
    text-decoration: none;
    padding: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    position: relative;
    left: -80%;
}